DB_SERVER=localhost,1433
DB_NAME=systemBase
DB_USER=sa
DB_PASSWORD=ChangeMe!
DB_TRUST_CERT=True

JWT_SECRET=CLAVE_SUPER_SECRETA
JWT_ISSUER=BackendSystem
JWT_AUDIENCE=BackendClients
JWT_EXPIRE_MINUTES=120

AIBASE_ENGINE_ENABLED=false
AIBASE_ENGINE_BASE_URL=http://localhost:8090/engine/v1
AIBASE_ENGINE_TIMEOUT_SECONDS=30
